::selection{
    background: black;
    color: white;
}
body{
    font-family: 'Helvetica Neue';
}

.task-card {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.overdue {
    border: 2px solid red;
}